@import "@scss/colorVariables.module.scss";

.appBar {
  position: absolute !important;

  &.appBarOpened {
    transition: all 0.3s ease-out;
    margin-left: 270px;
    width: calc(100% - 270px);
  }

  &.appBarClosed {
    transition: all 0.3s ease-out;
    margin-left: 0;
  }
}

.toolBarHeader {
  padding: 0 24px;
  color: $monoWhite;

  .toolBarBtn {
    margin: 0 36px 0 0;
    color: $monoWhite;
  }

  .toolBarTitle {
    flex-grow: 1;
  }
}

.hidden {
  display: none;
}
