@import "@scss/colorVariables.module.scss";

.errorStyleStatus {
  color: $errorDark;

  svg {
    fill: $errorDark;
  }
}

.baseStyleStatus {
  color: $mainBase;

  svg {
    fill: $mainBase;
  }
}
