.buttons {
  display: flex;
  gap: 93px;
}

.closeIcon {
  position: absolute;
  right: -15px;
  cursor: pointer;
}

.uploadButton {
  gap: 10px !important;

  span {
    font-size: 1.125rem;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    font-size: 18px;
  }
}
