@import "@scss/colorVariables.module.scss";

.formContainer {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
}

.helperText {
  align-self: flex-start;
  padding: 0 0 16px 16px;
  min-height: 36px;
}

.inputAdornment svg {
  color: $monoGray;
}

.inputAdornmentError svg {
  color: $errorBase;
}
