@import "@scss/colorVariables.module.scss";
@import "@scss/typography.module.scss";

.cardWrapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  gap: 26px;
  cursor: pointer;
  border-bottom: 1px solid $monoGraySelect;
  z-index: 1;

  @media only all and (max-width: 1500px) {
    flex-direction: column;
  }

  .tagsBlock {
    width: 100%;
  }

  .imageContainer {
    overflow: hidden;
    width: 340px;
    height: 176px;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      height: auto;
      width: 100%;
    }

    .noImage svg {
      width: 100px;
      height: 100px;
      fill: $mainBase;
    }
  }

  .infoWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0;
    align-self: stretch;

    .titleBlock {
      display: flex;
      column-gap: 8px;
      align-items: center;
      margin-bottom: 10px;

      .title {
        @include h6;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 6px;
      @include body1;

      .creationDate {
        color: $monoGray;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.2px;
      }
    }
  }

  .buttonWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 150px;

    button {
      margin-bottom: 20px;
      transition: all 0.7s ease-in-out;
      opacity: 0.3;
    }
  }

  .buttonWrap:hover {
    button {
      transition: all 0.7s ease-in-out;
      opacity: 1;
    }
  }

  .technicalInfo {
    display: flex;
    margin-bottom: 28px;
    align-items: center;
    flex-direction: row;

    .expirationDate {
      color: $systemDark;
      background-color: $systemExtraLight;
      padding: 4px 8px;
      border-radius: 4px;
      margin-right: 6px;
      @include body2;
    }

    .itemId {
      padding: 0 0 0 8px;
      color: $monoGray;
      @include body2;
    }
  }

  .pricesContainer {
    display: flex;
    flex-direction: column;
    max-width: 306px;
    height: 100%;
    width: 100%;

    .priceWrapp {
      display: flex;
      flex-direction: row;
      height: 100%;
      column-gap: 8px;
      justify-content: flex-end;

      .priceBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 49%;
      }

      .userProfilePriceBlock {
        display: flex;
        flex-direction: column;
      }
    }
    button {
      align-self: flex-end;
      width: 100%;
    }
  }

  .auctionSum {
    color: $warningBase;

    p,
    span {
      color: $systemBase;
    }
  }
}

.cardWrapp:hover {
  .priceBlock {
    button {
      transition: all 0.7s ease-in-out;
      opacity: 1;
    }
  }
}

.adminComment {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  @include body2;
  border: 1px solid #eb3d26;
  border-radius: 4px;
  background-color: #fdece9;
  padding: 10px;
  max-width: 306px;
  width: 100%;

  svg {
    fill: #eb3d26;
  }
}

/* .pending {
  & > div:first-of-type {
    display: none;
  }

  & > div:last-of-type {
    width: 100%;
    justify-self: center;
  }

  button {
    display: none;
  }
}

.inactive {
  flex-wrap: nowrap;
  column-gap: 20px;

  * {
    color: $monoGray !important;
  }

  button {
    display: none;
  }
} */
