@import "@scss/typography.module.scss";

.title {
  @include h3;
  text-align: center;
}

.text {
  @include body1;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 585px;
  background-color: #ffffff;
  border: 2px solid #000;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .buttonsWrapp {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 15px;

    img {
      width: 100%;
      height: 250px;
    }

    .deleteIcon {
      position: absolute;
      right: 20px;
      cursor: pointer;
    }
  }

  .radioButtons {
    display: flex;
    flex-direction: column;
  }

  .closeIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}

.passwordsBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .buttonsWrapp {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;

  & > div {
    width: 376px;
  }

  .buttonsContainer {
    display: flex;
    justify-content: flex-start;
    column-gap: 16px;
  }
}
