.commonButtonStyles {
  box-sizing: border-box !important;
  min-width: 32px !important;
  display: flex;
  border-radius: 2px !important;
  text-transform: capitalize !important;
  font-weight: 500 !important;
}

.disabledMap {
  display: flex;
}

.close {
  &Large {
    width: 48px;
    height: 48px;
    padding: 12px;

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  &Medium {
    width: 40px;
    height: 40px;
    padding: 10px;

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  &Small {
    width: 32px;
    height: 32px;
    padding: 8px;

    .icon {
      width: 16px;
      height: 16px;
    }
  }
}

.custom {
  &Large {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
    letter-spacing: 0.4px !important;
    padding: 10px 20px !important;
    width: 170px;
    height: 48px;
    row-gap: 12px;
  }

  &Medium {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    letter-spacing: 0.3px !important;
    padding: 8px 16px !important;
    width: 148px;
    height: 40px;
    row-gap: 12px;
  }

  &Small {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    letter-spacing: 0.3px !important;
    padding: 6px 12px !important;
    width: 121px;
    height: 32px;
    row-gap: 10px;
  }
}

.disabledMap {
  height: 55px;
  width: 210px;
  padding: 16.5px 14px !important;
  margin: 0 16px 28px 0 !important;

  @media only all and (max-width: 1000px) {
    width: 190px;
  }

  @media only all and (max-width: 880px) {
    width: 165px;
  }
}

.addNewLotButton {
  @media only all and (max-width: 970px) {
    font-size: 0 !important;
    color: transparent;
    width: 48px;

    span {
      margin: 0;
      justify-content: center;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  @media only all and (max-width: 970px) {
    font-size: 0 !important;
    color: transparent;

    span {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
