@import "@scss/colorVariables.module.scss";
@import "@scss/typography.module.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  padding: 6px 12px;
  background-color: $systemExtraLight;
  color: $systemDark;
}

.expired {
  background-color: $errorLight;

  & * {
    @include body1;
    color: $monoBlack !important;
  }
}
