@import "@scss/colorVariables.module.scss";

.lotsListContainer {
  width: 100%;

  .lotImage {
    width: 100px;
    height: 70px;
  }
}

.lotTitleBlock {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.moreInfoIcon {
  color: $mainDark;

  &:hover {
    cursor: pointer;
    color: $mainBase;
  }
}

.disableIcon {
  color: $errorDark;

  &:hover {
    cursor: pointer;
    color: $errorLight;
  }
}

.enableIcon {
  color: $successDark;

  &:hover {
    cursor: pointer;
    color: $successLight;
  }
}

.statusCell {
  display: flex;
  align-items: center;
  column-gap: 8px;
  justify-content: center;
}
