@import "@scss/colorVariables.module.scss";

.container {
  max-width: 100%;
  overflow-x: auto;

  .cell {
    text-align: center !important;
    justify-content: center !important;
  }
  .lotTitleBlock {
    display: flex;
    column-gap: 8px;
    align-items: center;

    & .title {
      text-overflow: ellipsis;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .statusSelectField {
    width: 100%;
  }

  .saveIcon {
    svg {
      color: $mainBase;
    }
  }

  .cancelIcon {
    svg {
      color: $errorBase;
    }
  }

  .editIcon,
  .showMoreIcon {
    svg {
      color: $monoBlack;

      &:hover {
        color: $mainDark;
      }
    }
  }
}
