@import "@scss/colorVariables.module.scss";
@import "@scss/typography.module.scss";

.tabItem {
  @include btnLarge;
  text-transform: none !important;
  width: 236px;
  font-size: 1.125rem !important;
  font-weight: 500 !important;
  line-height: 175% !important;
  letter-spacing: 0.4px !important;
  color: $monoBlack !important;
}
