@import "@scss/colorVariables.module.scss";

.wrapp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  &.error {
    margin: 0 16px 0 0 !important;
  }

  .select,
  .input {
    width: 210px;
    margin: 0 16px 24px 0 !important;

    &.betInput {
      width: 100%;
      margin: 0 0 16px 0 !important;
    }

    &.lotDuration {
      width: 135px;
    }

    @media only all and (max-width: 1000px) {
      width: 190px;

      &.lotDuration {
        width: 121.3px;
      }
    }

    @media only all and (max-width: 880px) {
      width: 165px;

      &.lotDuration {
        width: 104.7px;
      }
    }
  }

  .textarea,
  .tags {
    width: 888px;
    margin: 0 16px 24px 0;

    @media only all and (max-width: 1000px) {
      width: 808px;
    }

    @media only all and (max-width: 880px) {
      width: 708px;
    }
  }

  .filterInput {
    margin: 0 0 24px 0 !important;
    width: 100%;
  }

  &.filterWrapp {
    align-items: stretch;

    .filterSelect {
      margin: 0 0 24px 0 !important;
      width: 100%;
    }
  }

  .modalTextField {
    width: 100%;
  }
}

.tag {
  display: flex;
  align-items: center;
  margin: 0 6px;
  padding: 3px 8px;
  border-radius: 16px;
  background-color: $monoWhite;
  border: 1px solid #333333;

  .tagRemoveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #333333;
    color: #333333;

    &:hover {
      cursor: pointer;
    }
  }
}
