@import "@scss/colorVariables.module.scss";
@import "@scss/typography.module.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $monoBlack;
  margin-bottom: 30px;
}

.detailed {
  row-gap: 4px;

  .original {
    color: $systemDark;

    p {
      color: $systemDark;
      @include h5;
    }
  }

  p {
    margin: 0;
    @include h4;
  }

  span {
    text-align: left;
    @include body1;
  }
}

.list {
  row-gap: 8px;

  p {
    color: $monoBlack;
    margin: 0;
    @include h6;
  }

  span {
    text-align: left;
    @include body2;
  }

  .original {
    color: $systemDark;

    p {
      color: $systemDark;
      @include body1;
    }

    span {
      @include helperText;
    }
  }
}

.auctionSum {
  p {
    color: $warningBase;
  }
}

.betting {
  p,
  span {
    color: $systemBase;
  }
}
