@import "@scss/colorVariables.module.scss";

.header {
  width: 100%;
  height: 96px;
  background-color: $monoWhite;
  box-shadow: 0 4px 16px 0 #00000014;
  z-index: 1101;

  .wrapp {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 84px;
    position: relative;
  }
}
