@import "../../scss/colorVariables.module.scss";
@import "../../scss/typography.module.scss";

.footer {
  max-width: 1752px;
  display: flex;
  background-color: $agroexMain;
  height: 192px;
  align-items: center;
  padding: 0 84px;

  p {
    @include body2;
    color: $monoGray;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
