@import "./scss/colorVariables.module.scss";
@import "./scss/typography.module.scss";

html {
  font-size: $fontSizeMain;
}

body {
  margin: 0;
  @include fontFamilyMain;
  @include body1;
  box-sizing: border-box;
  background-color: $monoGraySelect;

  #root {
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
  }
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}
