@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap");

$fontSizeMain: 16px;

@mixin fontFamilyMain {
  font-family: "IBM Plex Sans", sans-serif;
}

@mixin h1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: -1.5px;
}

@mixin h2 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 112.5%;
  letter-spacing: -0.5px;
}

@mixin h3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 116.67%;
}

@mixin h4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 131.25%;
  letter-spacing: 0.25px;
}

@mixin h5 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 133.33%;
}

@mixin h6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.15px;
}

@mixin inputText {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.2px;
}

@mixin body1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.15px;
}

@mixin body2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 142.857%;
  letter-spacing: 0.15px;
}

@mixin caption {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 133.3%;
  letter-spacing: 0.2px;
}

@mixin helperText {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 133.3%;
}

@mixin inputLabel {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 133.3%;
  letter-spacing: 0.2px;
}

@mixin helper {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0px;
  text-align: center;
}

@mixin btnLarge {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.4px;
}

@mixin checkbox {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
}
